{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1> Foto de paisaje </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia eos obcaecati harum dignissimos quisquam cumque. Laboriosam fugiat consequatur aspernatur voluptate. Rerum laudantium, sint consequatur recusandae inventore tenetur mollitia temporibus itaque.</p>
    </div>

    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/about-img.jpeg"  alt="">
    </div>

</div>

{{> footer }}